/* Card container */
.video-card {
  cursor: pointer;
}

/* Thumbnail wrapper enforces 16:9 */
.thumbnail-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #eaeaea;
  border-radius: 12px;
  overflow: hidden;
}

/* Thumbnail image */
.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
}

/* Hover zoom (YouTube style) */
.video-card:hover .thumbnail-img {
  transform: scale(1.05);
  background-color: #f8f9fa;
}

/* Title clamp to 2 lines */
.video-title {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.app-layout {
  display: flex;
  margin-top: 56px;
  transition: all 0.3s ease;
}

/* Main content */
.content {
  flex: 1;
  padding: 16px;
}

.sidebar {
  width: 240px;               /* Smaller */
  padding: 8px;
  left: 0;
  border-right: 1px solid #ddd;
  background: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  transition: transform 0.3s ease;
}

/* Sidebar open */
.sidebar-open .content {
  margin-left: 240px;
}

/* Sidebar closed */
.sidebar-closed .content {
  margin-left: 0;
}

.watch-layout.sidebar-open .content {
  margin-left: 240px; /* shift video */
}

.sidebar-closed .sidebar {
  transform: translateX(-100%);
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 12px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.sidebar-item:hover {
  background-color: #f2f2f2;
}

.sidebar-item .icon {
  font-size: 18px;
}

.sidebar-overlay {
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 64px);
  z-index: 2000;
  background: rgba(0,0,0,0.4);
  box-shadow: 2px 0 8px rgba(0,0,0,0.15);
}